* {
	margin: 0;
	padding: 0;
	transition: 1s;
	overflow-x: hidden;
	list-style: none;
	font-family: arial;
}

table {
	border: 1px solid rgb(0,0,0);
	width: 500px;
	border-collapse: collapse;
}

td { 
	border: 1px solid rgb(0,0,0);
}

th {
	border: 1px solid rgb(0,0,0);
	text-align: center;
}

.cell-header {
	border: none;
}

#endress {
	font-size: 11px;
}

input {
	border: none;
	width: 100%;
}

@media screen and (max-width: 500px) {
	table {
		width: 100vw;
	}
}
